<template>
  <div id="home" class="container">
    <b-field class="filter-box" label="Фильтровать по авторам">
      <b-input v-model="userName"></b-input>
    </b-field>
    <Posts :userName="userName"/>
  </div>
</template>

<script>
import Posts from './Posts.vue'

export default {
  name: 'Home',
  components: { Posts },
  data () {
    return {
      userName: ''
    }
  }
}
</script>

<style lang="scss">
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-box {
  width: 400px;
}
</style>
