<template>
  <div id="posts">
    <div v-for="post in postsToDisplay" :key="post.id" class="card">
      <div class="card-content">
        <p class="title" @click="handlePostSelected(post)">
          {{ post.title }}
        </p>
        <p class="subtitle" @click="handleUserSelected(post.userId)">
          {{ post.userName }}
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item" @click="handleCommentsSelected(post)">
          <span> Комментарии </span>
        </p>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Posts',
  props: ['userName'],
  data() {
    return {
      posts: [],
      users: [],
    }
  },
  computed: {
    postsToDisplay() {
      if (!this.userName) {
        return this.posts
      }
      return this.posts.length
        ? this.posts.filter((post) => {
            return post.userName.toLowerCase().includes(this.userName)
          })
        : []
    },
  },
  methods: {
    handlePostSelected(post) {
      this.$router.push({ name: 'Post', params: { id: post.id, post: post } })
    },
    handleUserSelected(id) {
      this.$router.push({ name: 'User', params: { id } })
    },
    handleCommentsSelected(post) {
      this.$router.push({
        path: `posts/${post.id}/#comments`,
        params: { post: post },
      })
    },
  },
  async created() {
    const getPosts = window.fetch('https://jsonplaceholder.typicode.com/posts')
    const getUsers = window.fetch('https://jsonplaceholder.typicode.com/users')
    const response = await Promise.all([getPosts, getUsers])
    const [posts, users] = await Promise.all([
      response[0].json(),
      response[1].json(),
    ])

    posts.forEach((post) => {
      const postUser = users.find((user) => user.id === post.userId)
      post.userName = postUser.name
      post.userId = postUser.id
    })

    this.posts = posts
    this.users = users
  },
}
</script>

<style lang="scss">
#posts {
  width: 400px;
}
.card {
  margin-bottom: 20px;
}
</style>