<template>
  <div id="post" class="content">
    <h1>{{ post.title }}</h1>
    <h4>{{ post.authorName }}</h4>
    <p>{{ post.body }}</p>
    <div id="comments" v-if="post.comments">
      <h4>Комментарии</h4>
      <div
        v-for="comment in post.comments"
        :key="comment.id"
        class="card comment"
      >
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img
                  src="https://bulma.io/images/placeholders/96x96.png"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{ comment.name }}</p>
              <p class="subtitle is-6">{{ comment.email }}</p>
            </div>
          </div>

          <div class="content">
            {{ comment.body }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Post',
  data: () => {
    return {
      post: {},
    }
  },
  async created() {
    let { id, post } = this.$route.params
    let author
    if (!post) {
      post = await (
        await window.fetch(`https://jsonplaceholder.typicode.com/posts/${id}`)
      ).json()
      author = await (
        await window.fetch(
          `https://jsonplaceholder.typicode.com/users/${post.userId}`
        )
      ).json()
      post.authorName = author.name
    }

    const comments = await (
      await window.fetch(
        `https://jsonplaceholder.typicode.com/posts/${id}/comments`
      )
    ).json()

    this.post = { ...post, comments }

    if (this.$route.fullPath.includes('comments')) {
      this.$nextTick(() => {
        window.scroll({
          top: document.getElementById('comments').offsetTop - 30,
        })
      })
    }
  },
}
</script>
