<template>
  <div class="author">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://bulma.io/images/placeholders/96x96.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ user.name }}</p>
            <p class="subtitle is-6">{{ user.email }}</p>
          </div>
        </div>
        <div class="content">
          <ul>
            <li>
              <span>Никнейм:</span>
              <span>{{ user.username }}</span>
            </li>
            <li>
              <span>Телефон:</span>
              <span>{{ user.phone }}</span>
            </li>
            <li>
              <span>Вебсайт:</span>
              <span>{{ user.website }}</span>
            </li>
            <li v-if="user.address">
              Адрес
              <ul>
                <li>
                  Город: <span>{{ user.address.city }}</span>
                </li>
                <li>
                  Улица: <span>{{ user.address.street }}</span>
                </li>
                <li>
                  Номер: <span>{{ user.address.suite }}</span>
                </li>
                <li>
                  Индекс: <span>{{ user.address.zipcode }}</span>
                </li>
                <div id="map" class="map"></div>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Map, View } from 'ol'
import TileLayer from 'ol/layer/Tile'
import OSM from 'ol/source/OSM'

export default {
  name: 'User',
  data: () => {
    return {
      user: {},
    }
  },
  async created() {
    const userId = this.$route.params.id

    const user = await (
      await window.fetch(`https://jsonplaceholder.typicode.com/users/${userId}`)
    ).json()
    this.user = user
    this.$nextTick(() => {
      new Map({
        target: 'map',
        layers: [
          new TileLayer({
            source: new OSM(),
          }),
        ],
        view: new View({
          center: [user.address.geo.lng, user.address.geo.lat],
          zoom: 5,
        }),
      })
    })
  },
  mounted() {},
}
</script>

<style lang="scss">
#map {
  width: 400px;
  height: 250px;
}
</style>