<template>
  <div id="app" class="container">
    <header>
      <nav v-if="shouldDisplayNavigation">
        <button class="button is-dark go-home" @click="handleGoHome">
          Домой
        </button>
      </nav>
      <h1 class="site-title">Всем нужны посты</h1>
    </header>
    <router-view />
  </div>
</template>

<script>
export default {
  methods: {
    handleGoHome() {
      this.$router.push('/')
    },
  },
  computed: {
    shouldDisplayNavigation () {
      return this.$route.path !== '/'
    },
  },
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding: 20px 10px;
}
header {
  position: relative;
  margin-bottom: 20px;
  nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .site-title {
    text-align: center;
    font-size: 22px;
  }
}
</style>
